h4{
color:rgb(0, 0, 0)
}
*{
border:solid;
border-radius: 5%;
}
.topo{
background-color: lightskyblue;
display:flex;
justify-content: space-between;
}
.imagem{
display: flex;

}
.corpo{

background-image: linear-gradient(rgb(4, 37, 108), rgb(6, 243, 219), rgb(66, 66, 252));
}